
# bundler config
/.bundle

# logfiles, tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Byebug command history
.byebug_history

# Spring files
/spring/*.pid

# local puma config
# config/puma.rb

# uploaded test images
public/uploads

# compiled assets
public/assets

# misc
Gemfile.lock
node_modules
assets/build
